Repository albertaillet/diet-optimization: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, illustrate-queries

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
        exclude: tests/data/invalid.json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.html$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      - id: ruff # linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md|html)$
  - repo: local
    hooks:
      - id: validate-staged-csv-data
        name: validate-staged-csv-data
        entry: ./scripts/validate_staged_csv_data.py
        language: system
        types: [csv]
  - repo: local
    hooks:
      - id: illustrate-queries
        name: illustrate-queries
        language: system
        entry: ./scripts/illustrate_queries.py
        types_or: [sql]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        language: system
        entry: uv run pyright
        types_or: [python, pyi]

remove explore.py
  dietdashboard/explore.py
Due: none

don't pass filenames to illustrate_queries.py and remove OR REPLACE
  .pre-commit-config.yaml
  scripts/illustrate_queries.py
Due: none

added static files to .gitignore
  .gitignore
Due: none

update Makefile documentation
  Makefile
Due: none

remove nutrient_map_update_counts.py and use a DuckDB query instead and added documentation to nutrient_map_update_ciqual.sql
  Makefile
  queries/nutrient_map_update_ciqual.sql
  queries/nutrient_map_update_counts.sql
  scripts/nutrient_map/nutrient_map_update_counts.py
Due: illustrate-queries

draft for process command with one row per ciqual code
  queries/load.sql
  queries/process.sql
  queries/process2.sql
  scripts/illustrate_queries.py
Due: illustrate-queries

rename query files
  Makefile
  dietdashboard/app.py
  queries/create_table_food.sql
  queries/create_table_price.sql
  queries/query.sql
  queries/static.sql
  queries/update_nutrient_map_ciqual.sql
  queries/update_nutrient_map_counts.sql
  scripts/illustrate_queries.py
Due: illustrate-queries

added a reference
  REFERENCES.md
Due: prettier

added checksums of data
  Makefile
  data/checksums.txt
Due: none

added filter to column description
  queries/static.sql
Due: illustrate-queries

added draft of price at locations comparison table
  queries/load.sql
  queries/price_at_locations.sql
  queries/price_at_locations_comparison.sql
  scripts/query_at_locations.py
Due: illustrate-queries

added open db command
  Makefile
Due: none

fix paths to queries
  scripts/query_at_locations.py
Due: none

added script to get head commit sha and date of a remote git repo
  scripts/remote_repo_head_sha_date.sh
Due: none

use a link instead of a copy of the file
  Makefile
  scripts/transpose_exchange_rates.py
Due: none

set static folder without flask route
  dietdashboard/app.py
Due: none

first draft of comparison table html
  dietdashboard/frontend/html/comparison.html
  queries/price_at_locations_comparison.sql
  scripts/comparison_app.py
Due: prettier, illustrate-queries

fix to makefile
  Makefile
Due: none

add more sql queries to use with query at locations for exploration and update illustrations with new data
  queries/create_table_food.sql
  queries/create_table_price.sql
  queries/load.sql
  queries/price_at_locations.sql
  queries/price_at_locations_other.sql
  scripts/query_at_locations.py
Due: illustrate-queries

centralize .gitignore and symlink to containerignore
  .containerignore
  .gitignore
  data/.gitignore
Due: none

ignore folders instead of files in .gitignore
  .gitignore
Due: none

added meal replacement references
  REFERENCES.md
Due: prettier

added first draft of containerfile
  Containerfile
Due: none

added container commands to makefile
  Makefile
Due: none

move static .gitignore for them to be included in the container build context
  .gitignore
  dietdashboard/static/.gitignore
Due: none

remove build dependencies from Containerfile and only include python dependencies in container
  Containerfile
  Makefile
  dietdashboard/app.py
Due: none

update python dependencies
  pyproject.toml
  uv.lock
Due: none

update run-container command
  Makefile
Due: none

make static dependent on load and create_table_price
  Makefile
  scripts/validate_staged_csv_data.py
Due: none

snake case to kebab case for phony commands and added .PHONY targets
  Makefile
Due: none

use permalinks to github content
  Makefile
Due: none

update nutrient map commands
  Makefile
Due: none

generate checksums using make
  Makefile
Due: none

draft of github actions deploy script to github actions
  .github/workflows/deploy.yaml
Due: none

added initial version of gcloud setup
  scripts/gcloud_setup.sh
Due: none

added further gcloud setup
  scripts/gcloud_setup.sh
Due: none

ignore data files for deploy test
  .gitignore
  Containerfile
Due: none

add real names in deploy workflow
  .github/workflows/deploy.yaml
Due: none

add instruction to have max 1 container in AR
  scripts/gcloud_setup.sh
Due: none
